<!DOCTYPE html>
<html lang='en'>
  <head>
      <%- include('templates/include/head/utility.html') %>
      <%- include('templates/include/head/dns.html') %>
      <title>Prototype</title>
      <%- include('templates/include/head/category-picker.html') %>
      <%- include('templates/include/head/designer-icons.html') %>
      <%- include('templates/include/head/font.html') %>
  </head>
  <body>
    <%- include('templates/include/html/noscript.html') %>
    <div id='app'></div>
    <script type='module' src='/prototypes/index.js'></script>
  </body>
</html>
